*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font:100%;
    scroll-behavior: smooth;
}
body{
    background-color: #1FBB7F;
}
.heading .caption .short{
    text-align: center;
    padding-top: 10rem;
    font-size: 4rem;
}

.heading .caption .long{
text-align: center;
font-size: 2rem;
}
.flex-container{
    display: flex;
    align-items: center;
   gap:30rem;
   /* background-color: black; */
   margin-block: 3rem;
   padding-block: 1rem;
   
}

.premuim .stall img{
    animation: slide-right 2s forwards;
}
.premuim .text{
    width: 50ch;
    animation:slide-left 2s forwards;
    font-size: 2rem;
    color: white;
}
.economy{
    display: flex;
    align-items: center;
   gap:30rem;
   background-color: black;
   margin-block: 3rem;
   padding-block: 1rem;
   
}
.economy .stall img{
    animation:slide-left 2s forwards;
}
.economy .text{
    animation: slide-right-eco-text 2s forwards;
    width: 50ch;
    color: white;
    font-size: 2rem;
}
.basic{
    display: grid;
}
@keyframes slide-right{
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
@keyframes slide-right-eco-text{
    0% { transform: translateX(-100%); }
    100% { transform: translateX(40%); }
}
@keyframes slide-left{
    0% { transform: translateX(100%); }
    100% { transform: translateX(-20%); }
}

